@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --color-primary: #ff624c;
  --color-secondary: #1a237b;
  --color-colorOne: #bd0034;
  --color-clolorTwo: #d9d9d9;
  --color-colorThree: #fed550;
  --color-colorFour: #303030;
  --color-colorFive: #ffffff;
  --color-colorSix: #d9d9d9;
  --color-colorSeven: #f4f4f4;
  --color-colorEight: #00579f;
  --color-colorNine: #283b82;
  --color-colorTen: #469bdb;
  --color-opcity: #303030;
  --breakpoint-xxxl: 1300px;
}

@utility container {
  width: 1520px;
  margin: 0px auto;
}

.coustom-select .ant-select-selector {
  border: none !important;
}

.coustom-collapse {
  background-color: white !important;
  border: none !important;
}
.coustom-collapse .ant-collapse-content-box {
  border: none !important;
}
.ant-collapse .ant-collapse-content {
  border-top: none !important;
}

.ant-collapse-expand-icon {
  background-color: #ff624c !important;
  width: 32px !important;
  height: 32px !important;
  border-radius: 100%;
  justify-content: center;
}

.ant-collapse-header .ant-collapse-expand-icon {
  padding-inline-end: 0px;
  color: white !important;
}

.ant-collapse-header {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 32px !important;
}

.ant-collapse-item {
  border-bottom: none !important;
}
.ant-collapse-header .ant-collapse-expand-icon {
  padding-inline-end: 0px !important;
}

.coustom-collapse
  .ant-collapse-header[aria-expanded='true']
  .ant-collapse-expand-icon {
  background: none !important;
  border: 1px solid #ff624c;
}

.coustom-collapse
  .ant-collapse-header[aria-expanded='true']
  .ant-collapse-expand-icon
  span {
  color: #ff624c;
}

.item_item {
  margin-bottom: 24px !important;
}
.item_item:last-child {
  margin-bottom: 0px !important;
}

@utility container {
  width: 1520px;
  max-width: 100%;
  margin: 0px auto;
}

@media (min-width: 375px) and (max-width: 575.99px) {
  .container {
    width: 95%;
    margin: 0px auto;
  }
}

@media (min-width: 576px) and (max-width: 767.99px) {
  .container {
    max-width: 95%;
    margin: 0px auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 95%;
    margin: 0px auto;
  }
}
@media (min-width: 1024px) and (max-width: 1250px) {
  .container {
    max-width: 95%;
    margin: 0px auto;
  }
}

@media (min-width: 1520px) {
  .container {
    max-width: 1520px;
    margin: 0px auto;
  }
}
.coustom_drawer .ant-drawer-close {
  position: absolute;
  top: 15px;
  right: 10px;
}
.coustom_drawer .ant-drawer-header {
  border-bottom: none !important;
}
.leaflet-control-zoom {
  position: relative !important;
  bottom: -370px;
  right: -1350px;
  width: 88px;
  height: 100px;
}

.leaflet-control-zoom-in {
  border-radius: 5px;
  width: 100% !important;
  height: 100% !important;
  padding-top: 30px !important;
}

.leaflet-control-zoom-out {
  border-radius: 5px;
  width: 100% !important;
  height: 100% !important;
  padding-top: 30px !important;
}
